{% if 'vagrant' in lookup('env','USER') %} {% set local_machine_ip = ansible_facts['eth1']['ipv4']['address'] %} 
{% else -%} {% set local_machine_ip = ansible_facts['default_ipv4']['address'] %} 
{% endif %}
[Unit]
Description=etcd
Documentation=https://github.com/coreos

[Service]
Type=notify
ExecStart=/usr/local/bin/etcd \
  --name {{ ansible_facts['hostname'] }} \
  --cert-file=/etc/etcd/kubernetes.pem \
  --key-file=/etc/etcd/kubernetes-key.pem \
  --peer-cert-file=/etc/etcd/kubernetes.pem \
  --peer-key-file=/etc/etcd/kubernetes-key.pem \
  --trusted-ca-file=/etc/etcd/ca.pem \
  --peer-trusted-ca-file=/etc/etcd/ca.pem \
  --peer-client-cert-auth \
  --client-cert-auth \
  --initial-advertise-peer-urls https://{{ local_machine_ip }}:2380 \
  --listen-peer-urls https://{{ local_machine_ip }}:2380 \
  --listen-client-urls https://{{ local_machine_ip }}:2379,https://127.0.0.1:2379 \
  --advertise-client-urls https://{{ local_machine_ip }}:2379 \
  --initial-cluster-token etcd-cluster-0 \
  --initial-cluster controller01=https://{{ groups['controllers'][0] }}:2380,controller02=https://{{ groups['controllers'][1] }}:2380,controller03=https://{{ groups['controllers'][2] }}:2380 \
  --initial-cluster-state new \
  --data-dir=/var/lib/etcd
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target