{
  "CN": "{{ common_name }}",
  "key": {
    "algo": "{{ algo }}",
    "size": {{ size }}
  },
  "names": [
    {
      "C": "{{ country }}",
      "L": "{{ locality }}",
      "O": "{{ organization }}",
      "OU": "{{ org_unit }}",
      "ST": "{{ state }}"
    }
  ]
}